@charset "utf-8";
html, .root {
  font-size: 14px;
  line-height: 21px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.flex-center {
  @extend %flexbox;
  @include align-items(center);
}

.container {
  margin: 0 auto;
  width: 700px;
}

.title-container {
  padding: 56px 0px;
  display: block;
}

h1 {
  font-family: 'Bungee', arial, sans-serif;
  text-align: center;
  font-size: 95px;
  line-height: 63px;
  margin-top: 21px;
  margin-bottom: 42px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

h2 {
  font-family: 'Barlow Semi Condensed', arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2)
}

iframe {
  display: block;
  width: 642px;
  height: 483px;
  margin: 0 auto;
  border: 1px solid #fafafa;
}


/* STUFF */
// .title {
//   outline: none;
// 	text-decoration: none;
// 	position: relative;
// 	font-size: 8em;
// 	line-height: 1;
// 	color: #fff;
// 	display: block;
//   margin: 0 auto;
// }
//
// .title--plant {
// 	font-style: italic;
// 	font-family: 'Playfair Display', serif;
// 	font-weight: 700;
// 	font-size: 7em;
// 	padding: 0 10px 20px;
// 	-webkit-transition: color 0.5s;
// 	transition: color 0.5s;
// }
//
// .title--plant:hover {
// 	color: #1e1a1b;
// }
//
// .title--plant::before {
// 	content: '';
// 	position: absolute;
// 	height: 36px;
// 	width: 120%;
// 	top: 50%;
// 	margin-top: -18px;
// 	left: -10%;
// 	z-index: -1;
// 	background: #F9F9F9;
// 	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
// 	transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
// 	-webkit-transition: -webkit-transform 0.5s;
// 	transition: transform 0.5s;
// }
//
// .title--plant:hover::before {
// 	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
// 	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
// }
//
// .title--plant span {
// 	font-size: 20%;
// 	font-weight: 400;
// 	position: absolute;
// 	right: 15px;
// 	color: #e53369;
// 	bottom: 0;
// 	opacity: 0;
// 	-webkit-transform: translate3d(-10px,-10px,0);
// 	transform: translate3d(-10px,-10px,0);
// 	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
// 	transition: transform 0.5s, opacity 0.5s;
// }
//
// .title--plant:hover span {
// 	opacity: 1;
// 	-webkit-transform: translate3d(0,0,0);
// 	transform: translate3d(0,0,0);
// }
