---
title: Plant Cam | Charlestown, MA
---
<div class="flex-center">
  <div class="container">
    <div class="title-container animated bounceIn">
      <h1>Plant Cam</h1>
      <h2>Charlestown, MA</h2>
    </div>
    <iframe src="http://plants.devingaffney.com/plantcam"></iframe>
  </div>
</div>
